<h1>{{ character.character_name }}</h1>
<p>{{ character.get_race_display }}</p>
<p>{{ character.get_server_display }}</p>

<ul>
    {% for job in job_list %}
        {% if job.unlocked %}
            <li style="color: green">{{ job.job }}, {{ job.current_level }}</li>
        {% else %}
            <li style="color: red">{{ job.job }}, {{ job.current_level }}</li>
        {% endif %}
    {% endfor %}
</ul>

<a href="{% url "characters:update_character" character.character_name %}"><button>Update Character Details</button></a>

<a href="{% url "characters:characters" %}"><button>Character List</button></a>